html {
  --logo-font: "Euphoria Script", cursive;
  --heading-color: #dc143c;
  --heading-font: 45px;
  --common-font-family: "Roboto", sans-serif;
  --nav-font: 18px;
  --bg-color: #c6d7df;
  --border-radius: 5px;
}
.chef {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  padding-bottom: 50px;
}
.chef-wrapper {
  display: flex;
  margin: 60px 0px;
  flex-wrap: wrap;
  justify-content: center;
}
.chef-content {
  margin: 30px 30px 10px 30px;
  display: flex;
  background-color: var(--heading-color);
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  position: relative;
  height: 405px;
  width: 320px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  transition: all 0.4s ease-in-out;
}
.chef-content:hover {
  transform: translateY(-20px);
  background-color: aliceblue;
}
.chef-content:hover .chef-name {
  color: rgba(0, 0, 0, 0.7);
}
.chef-content:hover .chef-title {
  color: rgba(0, 0, 0, 1);
  color: var(--heading-color);
}
.chef-content:hover .chef-social a {
  color: var(--heading-color);
}
.chef-content:hover .chef-details {
  color: var(--heading-color);
}
.chef-img {
  width: 220px;
  height: 220px;
  position: absolute;
  top: -80px;
}

.chef-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;

}
.chef-data {
  position: absolute;
  text-align: center;
  bottom: 30px;
}
.chef-title {
  font-family: var(--common-font-family);
  font-size: 20px;
  color: white;
  padding: 7px 0px;
}
.chef-name {
  font-family: var(--logo-font);
  font-size: 40px;
  color: var(--bg-color);
}
.chef-details {
  color: white;
  font-size: 14px;
  font-family: var(--common-font-family);
  padding: 0px 25px 10px 25px;
  line-height: 30px;
}
.chef-social a {
  color: white;
  font-size: 30px;
  margin: 5px;
}
.sub-heading.chefs-sub {
  font-size: 50px;
}

/* testimonial */
.testimonial-area {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/test.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.swiper-container {
  width: 50%;

}
#next-btn,
#prev-btn {
  padding: 20px;
  background-color: var(--heading-color);
  color: white;
}
#next-btn::after,
#prev-btn::after {
  font-size: 20px;
}

.single-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 40px;
  font-family: var(--common-font-family);
}
.test-img {
  width: 160px;
  height: 160px;
}
.test-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.test-name {
  font-size: 25px;
  font-family: "Oleo Script Swash Caps", cursive;
  color: var(--heading-color);
}
.review {
  color: aliceblue;
}
.test-data {
  padding: 10px 0px;
}
.quote {
  font-size: 50px;
  color: var(--heading-color);
}
#page span {
  width: 15px;
  height: 15px;
  background: white;
}

/* speciality */

.speciality {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
 padding-bottom: 100px;
}
.box-wrapper{
  display: flex;
 
  align-items: center;
  /* width: 100%; */
 position: relative;
 height: 700px;
 justify-content: center;
}
.box2{
  height: 400px;
  width: 600px;
  position: absolute;
  right: -50px;
  display: flex;
  justify-content: center;
 
}
.box2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box3 {
  right: 10%;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  position: absolute;
 left: -50px;
 justify-content: center;
 
 }
 
.box3-info {
  width: 280px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  background-color: aliceblue;
  padding: 0px 20px;
  margin: 10px;
  transition: all 0.4s;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px; */
  /* border-radius: 10px; */
 
}
.box3-info:hover{
   background-color: var(--heading-color);
}
.box3-info:hover .box-icon img{
   
   background-color: aliceblue;
}
.box3-info:hover .box-heading{
   color: aliceblue;
}
.box3-info:hover .box3-text{
   color: aliceblue;
}
.box-icon {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--heading-color);
}
.box-heading {
  font-family: var(--logo-font);
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0px;
  color:var(--heading-color);
}
.box3-text {
  font-family: var(--common-font-family);
  line-height: 22px;
  font-size: 14px;
  color: var(--heading-color);
}

