html {
  --logo-font: "Euphoria Script", cursive;
  --heading-color: #dc143c;
  --heading-font: 45px;
  --common-font-family: "Roboto", sans-serif;
  --nav-font: 18px;
}

@media screen and (max-width: 1355px) {
  .menu-container {
    width: 100%;
  }
}
@media screen and (max-width: 1170px) {
  .banner-text {
    width: 100%;
    padding: 0px 30px;
  }
  /* chef */
  .chef-content {
    margin: 30px 30px 80px 30px;
  }
  .chef {
    padding-bottom: 0px;
  }
  /* why us */
  .box-wrapper {
    flex-direction: column;
    width: 100%;
    height: 900px;
  }
  .box2 {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .box3{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  /* contact */
  .box-wrapper.contact{
    height: 1100px;
    flex-direction: column;
  }
  .box2.contact {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: flex-start;
  }
  .box3.contact{
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
}
@media screen and (max-width: 1080px){
  .menu-container{
    height: 855px;
  }
}
@media screen and (max-width: 1050px) {
  /* navbar */
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 2;
  }
  .logo {
    position: absolute;
    left: 40px;
  }
  .navbar {
    padding: 0px;
  }
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background: var(--heading-color);
    height: 100vh;
    min-height: 400px;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -30%);
    -webkit-clip-path: circle(100px at 90% -30%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -30%);
    -webkit-clip-path: circle(1400px at 90% -30%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 16px;
  }
  .menu-items ul li a:hover{
    color: black;
   
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.5s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 0.9s;
  }
  .nav-links li:nth-child(8) {
    transition: all 0.5s ease 1s;
  }
 
  li.fade {
    opacity: 1;
  }

  /* about */
  .about-text {
    width: 90%;
    line-height: 25px;
    font-size: 16px;
  }
  /* reservation */
  .book-form{
    width: 70%;
  }
  
}

@media screen and (max-width: 900px) {
  .banner-text h2 {
    font-size: 12vw;
  }
  /* testimonial */
  .swiper-container {
    width: 100%;
  }
}
@media screen and (max-width: 720px){
  .menu-container{
    height: 1400px;
  }
}
@media screen and (max-width: 700px) {
  #chef-heading {
    font-size: 3.5rem;
  }
  .sub-heading.chefs-sub {
    font-size: 35px;
  }
  /* reservation */
  .book-form{
    width: 90%;
  }
}
@media screen and (max-width:670px) {
  .box-wrapper{
    height: 1500px;
  }
  .box2{
    height: 300px;
    width: 400px;
    top: 12%;
  }
  .box3{
    top: 60%;
  }
  .box-wrapper.contact{
    height: 1700px;
  }
  .box2.contact{
    top: 17%;
    width: 90%;
  }
  .box3.contact{
    top: 63%;
  }
  .contact-form{
    width: 90%;
  }
  .contact-form-inner div input{
    width: 85%;
  }
  .contact-form-inner div textarea{
    width: 85%;
  }
}
@media screen and (max-width: 600px) {
  .banner-text h2 {
    font-size: 13vw;
  }
  .banner-text p {
    font-size: 16px;
  }
  /* testimonial */
  #test-heading {
    font-size: 3.5rem;
  }
  #speciality-heading{
  font-size: 4rem;
  }
  /* reservation */
  .book-form{
    width: 95%;
    padding: 20px 0px 40px 0px;
  }
  .form div{
    margin: 15px 10px;
  }
  /* footer */
  .footer h2{
    font-size: 1.3rem;
   }

.footer p, .footer h3{
   font-size: 14px;
}

.footer-icons a{
   
    font-size: 1.4rem;
   
}


}
@media screen and (max-width: 400px) {
  .banner-text {
    padding: 0;
  }

  .banner-text h2 {
    font-size: 13vw;
  }
  .banner-text p {
    font-size: 14px;
    padding: 0px 15px;
  }
  /* menu */
  .heading {
    font-size: 4rem;
  }
  .menu-img {
    width: 95%;
    height: 200px;
  }
  .menu-img img {
    width: 100%;
    height: 100%;
  }
  .desert-content {
    align-items: center;
    margin: 30px 0px 10px 0px;
    padding: 20px 10px;
    width: 80%;
    justify-content: center;
  }
  .drinks-content {
    margin: 30px 0px 10px 0px;
  }
  .menu-content {
    margin: 30px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .menu-data {
    width: 95%;
  }
  .about-text {
    font-size: 12px;
    /* line-height: 5px; */
  }
  /* chef */
  #chef-heading {
    font-size: 3rem;
  }
  .chef-wrapper {
    width: 100%;
  }
  .chef-content {
    margin: 30px 0px 80px 0px;
    width: 90%;
  }
  /* testimonial
 */
  #test-heading {
    font-size: 2.8rem;
  }
  .quote {
    font-size: 35px;
  }
  #page span {
    width: 8px;
    height: 8px;
  }
  #next-btn,
  #prev-btn {
    width: 20px;
    height: 20px;
    padding: 10px;
  }
  #next-btn::after,
  #prev-btn::after {
    font-size: 14px;
  }
  /* why us */
  .box2{
   display: none;
  }
  .box3{
    top: 52%;
  }
  .box-wrapper{
    height: 1200px;
  }
  .sub-heading.special-sub-heading{
    margin-top: -25px;
  }
/* reservation*/
.form{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form div input{
  width: 200px;
}
.reservation{
  height: 900px;
}
/* contact */
.contact-form{
  width: 95%;
}
.contact-form-inner div input{
  width: 90%;
}
.contact-form-inner div textarea{
  width: 90%;
}
}
@media screen and (max-width: 400px) {
  #speciality-heading{
    font-size: 3rem;
  }
}