html {
  --logo-font: "Euphoria Script", cursive;
  --heading-color: #dc143c;
  --heading-font: 45px;
  --common-font-family: "Roboto", sans-serif;
  --nav-font: 18px;
}
@media screen and (max-width: 1355px) {
  .menu-container{
    width: 100%;
  }
}
@media screen and (max-width: 1170px) {
  .banner-text{
    width: 100%;
    padding: 0px 30px;
  }
  
}
@media screen and (max-width: 1050px) {
  /* navbar */
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 2;
  }
  .logo {
    position: absolute;
    left: 40px;
  }
  .navbar {
    padding: 0px;
  }
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background: var(--heading-color);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -30%);
    -webkit-clip-path: circle(100px at 90% -30%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -30%);
    -webkit-clip-path: circle(1400px at 90% -30%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
  
}

@media screen and (max-width: 900px){
.banner-text h2{
font-size: 12vw;
}
}
@media screen and (max-width: 600px){
.banner-text h2{
font-size: 13vw;
}
.banner-text p{
  font-size: 16px;
}
}
@media screen and (max-width: 400px){
  .banner-text{
    padding: 0;
  }
  
.banner-text h2{
font-size: 13vw;
}
.banner-text p{
  font-size: 14px;
  padding: 0px 15px;
}
/* menu */
.heading{
  font-size: 4rem;
  }
  .menu-img{
    width: 95%;
    height: 170px;
   }
.menu-img img{
    width: 100%;
    height: 100%;
}
.desert-content {
  align-items: center;
  margin: 30px 0px 10px 0px;
 padding: 20px 10px;
}
.drinks-content {
  margin: 30px 0px 10px 0px;
  }
  .menu-content{
    margin: 30px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.menu-data{
  width: 95%;
}
}